**/ny_taxi_postgres_data/*
**/*.csv
**/*.parquet
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**/data/*
**/fhvhv/*
**/zones/*
**__pycache__/
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
